* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --big-font-size: 1.2rem;
}
.title-heading {
    font-weight: bold;
    font-size: 2.5rem;
}
.table-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }

  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .table-container .table-heading{
    font-weight: bold;
    background-color: #434343;
    color: white;
    border-bottom: 1px solid #fff;
  }

  .table-container div {
    font-size: 1rem;
    padding: 15px;
  }
  .dong-phuc {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .dong-phuc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dong-phuc-info p {
    font-size: var(--big-font-size);
  }
  .dong-phuc-img {
    text-align: center;
  }
  .dong-phuc-img img {
    width: 80%;
  }

  .masonry-gallery img {
    width: 100%;
  }

  .chinh-sach ul {
    list-style: none;
  }
  .chinh-sach p, .chinh-sach li {
    font-size: var(--big-font-size);
  }
  .chinh-sach svg {
    color: green;
  }

  .ho-tro-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }
  .ho-tro-group a {
      font-size: 2rem;
      color: #111;
      text-decoration: none;
      transition: all 0.3s ease;
      font-weight: bold;
  }
  .ho-tro-group a svg {
      width: 32px;
      height: auto;
      transition: all 0.3s ease;
  }
  .ho-tro-group a:hover svg {
    transform: translateX(10px);
  }
  .ho-tro-img {
    text-align: center;
  }
  .ho-tro-img img {
    width: 70%;
    text-align: center;
  }

  footer {
    background-color: #111;
    color: #fff;
    padding: 50px 0;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 1rem;
    justify-content: center;
    margin-bottom: 50px;
  }
  .footer-logo img {
    width: 124px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
  }
  .footer-logo strong {
    font-size: 2rem;
  }

  #scroll-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    transition: 0.3s ease-in-out;
  }
  
  #scroll-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  /* make table 'portait' instead of 'landscape' */
  @media only screen and (max-width: 820px) {
    .table-container {
      grid-template-columns: 30% 70%;
      grid-template-rows: repeat(5, auto);
      grid-auto-flow: column;
    }
    .table-container .content {
        width: 100%;
    }
    .ho-tro-img img {
        width:60%;
    }
    .ho-tro-group {
        padding: 20px 0;
        text-align: center;
    }
  }